{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a book</title>
    <link rel="stylesheet" href="{% static 'books/choose-book.css'%}">
</head>
<body>
    <div class="header">

        <h1>EMPEROR M.K SUSU</h1>

        <div>
        
            <a href="">
                <h3>Hello, </h3>
            </a>

            <a href="" class="head-btn">Logout</a>
            
        </div>
        
    </div>

    <div class="balance-display">

        <div class="details-container">
            <h2>Choose a Book</h2>
            <!-- write a select option here -->
            
            <form action="" method="post">

                {% csrf_token%}
                <select name="book">
                    <option>choose a book</option>
                    <option value="hello">hdsf</option>
                </select>
                <input type="submit" value="buy">
            </form>
        </div>

    </div>
</body>
</html>