{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a book</title>
    <link rel="stylesheet" href="{% static 'books/choose-book.css'%}">
</head>
<body>
    <div class="header">

        <h1>EMPEROR M.K SUSU</h1>

        <div>
        <!-- the link for the surename when clicked should show the user profile page -->
        <!-- which i will do later after main functionality is working -->
            <a href=""> 
                <h3>Hello, {{user.last_name}}</h3>
            </a>

            <a href="{% url 'logout' %}" class="head-btn">Logout</a>
            
        </div>
        
    </div>

    <div class="balance-display">

        <div class="details-container">
            <h2>Choose a Book</h2>

            {% for book in books reversed%}
            
            <a style="text-decoration: none; color: black;" href="bookInfo/{{book.id}}">
                <ul>     
                    <li>{{book.title}}</li>
                </ul>
            </a>
            {%endfor%}
        </div>

    </div>
</body>
</html>